In [1]:
import pandas as pd

df = pd.read_csv("customer_shopping_behavior.csv")

In [2]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [4]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [5]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [6]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [7]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [8]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [9]:
df['age_group'] = pd.qcut(df['age'], q=4, labels = ['Young Adult','Adult','Middle Aged','Senior'])

In [10]:
# purchase frequency days

frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months': 90
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [11]:
df[['purchase_frequency_days','frequency_of_purchases']].head()

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually

In [12]:
pip install pymysql sqlalchemy

Requirement already satisfied: pymysql in c:\users\saikr\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: sqlalchemy in c:\users\saikr\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\saikr\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\saikr\anaconda3\lib\site-packages (from sqlalchemy) (4.12.2)
Note: you may need to restart the kernel to use updated packages.

In [15]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

username = "root"
password = quote_plus("Redhawk@5")   # ðŸ”¥ THIS LINE FIXES EVERYTHING
host = "localhost"
port = "3306"
database = "customer_behavior"

engine = create_engine(
    f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}",
    echo=True)
df.to_sql("customer",
    engine,
    if_exists="replace",
    index=False)

2025-12-19 20:04:03,040 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-12-19 20:04:03,041 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-19 20:04:03,045 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-12-19 20:04:03,047 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-19 20:04:03,050 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-12-19 20:04:03,052 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-19 20:04:03,057 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-12-19 20:04:03,067 INFO sqlalchemy.engine.Engine DESCRIBE `customer_behavior`.`customer`
2025-12-19 20:04:03,070 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-19 20:04:03,080 INFO sqlalchemy.engine.Engine DESCRIBE `customer_behavior`.`customer`
2025-12-19 20:04:03,082 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-19 20:04:03,091 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `customer_behavior`
2025-12-19 20:04:03,092 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-19 20:04:03,098 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `customer_behavior`
2025-12-19 20:04:03,100 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-19 20:04:03,128 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `customer`
2025-12-19 20:04:03,130 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-12-19 20:04:03,137 INFO sqlalchemy.engine.Engine
DROP TABLE customer
2025-12-19 20:04:03,139 INFO sqlalchemy.engine.Engine [no key 0.00153s] {}
2025-12-19 20:04:03,192 INFO sqlalchemy.engine.Engine
CREATE TABLE customer (
	customer_id BIGINT,
	age BIGINT,
	gender TEXT,
	item_purchased TEXT,
	category TEXT,
	purchase_amount BIGINT,
	location TEXT,
	size TEXT,
	color TEXT,
	season TEXT,
	review_rating FLOAT(53),
	subscription_status TEXT,
	shipping_type TEXT,
	discount_applied TEXT,
	promo_code_used TEXT,
	previous_purchases BIGINT,
	payment_method TEXT,
	frequency_of_purchases TEXT,
	age_group TEXT,
	purchase_frequency_days BIGINT
)


2025-12-19 20:04:03,194 INFO sqlalchemy.engine.Engine [no key 0.00172s] {}
2025-12-19 20:04:03,359 INFO sqlalchemy.engine.Engine INSERT INTO customer (customer_id, age, gender, item_purchased, category, purchase_amount, location, size, color, season, review_rating, subscription_status, shipping_type, discount_applied, promo_code_used, previous_purchases, payment_method, frequency_of_purchases, age_group, purchase_frequency_days) VALUES (%(customer_id)s, %(age)s, %(gender)s, %(item_purchased)s, %(category)s, %(purchase_amount)s, %(location)s, %(size)s, %(color)s, %(season)s, %(review_rating)s, %(subscription_status)s, %(shipping_type)s, %(discount_applied)s, %(promo_code_used)s, %(previous_purchases)s, %(payment_method)s, %(frequency_of_purchases)s, %(age_group)s, %(purchase_frequency_days)s)
2025-12-19 20:04:03,361 INFO sqlalchemy.engine.Engine [generated in 0.09876s] [{'customer_id': 1, 'age': 55, 'gender': 'Male', 'item_purchased': 'Blouse', 'category': 'Clothing', 'purchase_amount': 53, 'location': 'Kentucky', 'size': 'L', 'color': 'Gray', 'season': 'Winter', 'review_rating': 3.1, 'subscription_status': 'Yes', 'shipping_type': 'Express', 'discount_applied': 'Yes', 'promo_code_used': 'Yes', 'previous_purchases': 14, 'payment_method': 'Venmo', 'frequency_of_purchases': 'Fortnightly', 'age_group': 'Middle Aged', 'purchase_frequency_days': 14}, {'customer_id': 2, 'age': 19, 'gender': 'Male', 'item_purchased': 'Sweater', 'category': 'Clothing', 'purchase_amount': 64, 'location': 'Maine', 'size': 'L', 'color': 'Maroon', 'season': 'Winter', 'review_rating': 3.1, 'subscription_status': 'Yes', 'shipping_type': 'Express', 'discount_applied': 'Yes', 'promo_code_used': 'Yes', 'previous_purchases': 2, 'payment_method': 'Cash', 'frequency_of_purchases': 'Fortnightly', 'age_group': 'Young Adult', 'purchase_frequency_days': 14}, {'customer_id': 3, 'age': 50, 'gender': 'Male', 'item_purchased': 'Jeans', 'category': 'Clothing', 'purchase_amount': 73, 'location': 'Massachusetts', 'size': 'S', 'color': 'Maroon', 'season': 'Spring', 'review_rating': 3.1, 'subscription_status': 'Yes', 'shipping_type': 'Free Shipping', 'discount_applied': 'Yes', 'promo_code_used': 'Yes', 'previous_purchases': 23, 'payment_method': 'Credit Card', 'frequency_of_purchases': 'Weekly', 'age_group': 'Middle Aged', 'purchase_frequency_days': 7}, {'customer_id': 4, 'age': 21, 'gender': 'Male', 'item_purchased': 'Sandals', 'category': 'Footwear', 'purchase_amount': 90, 'location': 'Rhode Island', 'size': 'M', 'color': 'Maroon', 'season': 'Spring', 'review_rating': 3.5, 'subscription_status': 'Yes', 'shipping_type': 'Next Day Air', 'discount_applied': 'Yes', 'promo_code_used': 'Yes', 'previous_purchases': 49, 'payment_method': 'PayPal', 'frequency_of_purchases': 'Weekly', 'age_group': 'Young Adult', 'purchase_frequency_days': 7}, {'customer_id': 5, 'age': 45, 'gender': 'Male', 'item_purchased': 'Blouse', 'category': 'Clothing', 'purchase_amount': 49, 'location': 'Oregon', 'size': 'M', 'color': 'Turquoise', 'season': 'Spring', 'review_rating': 2.7, 'subscription_status': 'Yes', 'shipping_type': 'Free Shipping', 'discount_applied': 'Yes', 'promo_code_used': 'Yes', 'previous_purchases': 31, 'payment_method': 'PayPal', 'frequency_of_purchases': 'Annually', 'age_group': 'Middle Aged', 'purchase_frequency_days': 365}, {'customer_id': 6, 'age': 46, 'gender': 'Male', 'item_purchased': 'Sneakers', 'category': 'Footwear', 'purchase_amount': 20, 'location': 'Wyoming', 'size': 'M', 'color': 'White', 'season': 'Summer', 'review_rating': 2.9, 'subscription_status': 'Yes', 'shipping_type': 'Standard', 'discount_applied': 'Yes', 'promo_code_used': 'Yes', 'previous_purchases': 14, 'payment_method': 'Venmo', 'frequency_of_purchases': 'Weekly', 'age_group': 'Middle Aged', 'purchase_frequency_days': 7}, {'customer_id': 7, 'age': 63, 'gender': 'Male', 'item_purchased': 'Shirt', 'category': 'Clothing', 'purchase_amount': 85, 'location': 'Montana', 'size': 'M', 'color': 'Gray', 'season': 'Fall', 'review_rating': 3.2, 'subscription_status': 'Yes', 'shipping_type': 'Free Shipping', 'discount_applied': 'Yes', 'promo_code_used': 'Yes', 'previous_purchases': 49, 'payment_method': 'Cash', 'frequency_of_purchases': 'Quarterly', 'age_group': 'Senior', 'purchase_frequency_days': 90}, {'customer_id': 8, 'age': 27, 'gender': 'Male', 'item_purchased': 'Shorts', 'category': 'Clothing', 'purchase_amount': 34, 'location': 'Louisiana', 'size': 'L', 'color': 'Charcoal', 'season': 'Winter', 'review_rating': 3.2, 'subscription_status': 'Yes', 'shipping_type': 'Free Shipping', 'discount_applied': 'Yes', 'promo_code_used': 'Yes', 'previous_purchases': 19, 'payment_method': 'Credit Card', 'frequency_of_purchases': 'Weekly', 'age_group': 'Young Adult', 'purchase_frequency_days': 7}  ... displaying 10 of 3900 total bound parameter sets ...  {'customer_id': 3899, 'age': 44, 'gender': 'Female', 'item_purchased': 'Shoes', 'category': 'Footwear', 'purchase_amount': 77, 'location': 'Minnesota', 'size': 'S', 'color': 'Brown', 'season': 'Summer', 'review_rating': 3.8, 'subscription_status': 'No', 'shipping_type': 'Express', 'discount_applied': 'No', 'promo_code_used': 'No', 'previous_purchases': 24, 'payment_method': 'Venmo', 'frequency_of_purchases': 'Weekly', 'age_group': 'Adult', 'purchase_frequency_days': 7}, {'customer_id': 3900, 'age': 52, 'gender': 'Female', 'item_purchased': 'Handbag', 'category': 'Accessories', 'purchase_amount': 81, 'location': 'California', 'size': 'M', 'color': 'Beige', 'season': 'Spring', 'review_rating': 3.1, 'subscription_status': 'No', 'shipping_type': 'Store Pickup', 'discount_applied': 'No', 'promo_code_used': 'No', 'previous_purchases': 33, 'payment_method': 'Venmo', 'frequency_of_purchases': 'Quarterly', 'age_group': 'Middle Aged', 'purchase_frequency_days': 90}]
2025-12-19 20:04:03,814 INFO sqlalchemy.engine.Engine COMMIT

3900